In [17]:
import pandas as pd
import datetime
import collections
import matplotlib.pylab as plt
import numpy as np
#make cleaned dataframes, with some preprocessing
#use the conversation allairlines file that niels shared somewhere
#then just run this function with the name of the file you want to open
def make_csv(filename):
    conv = pd.read_csv('Conversations allairlines/'+filename, encoding='utf-16')
    conv = conv.dropna(thresh=5)
    conv['user.id_str'] = conv['user.id_str'].astype(str)
    conv['created_at'] = pd.to_datetime(conv['created_at'])
    conv = conv.sort_values(['conversationnr', 'created_at'])
    conv = conv.reset_index()
    return conv

In [12]:
#klm and british air are not in the conversation allairlines file, so I open them seperately and do some more preprocessing
klm_conv = pd.read_csv('KLMconvers.csv', encoding='utf-16').dropna(thresh=5)
BA_conv = pd.read_csv('BAWconvers.csv', encoding='utf-16').dropna(thresh=5)
klm_conv['created_at']= pd.to_datetime(klm_conv['created_at'])
BA_conv['created_at']= pd.to_datetime(BA_conv['created_at'])
klm_conv = klm_conv.sort_values(['conversationnr', 'created_at'])
BA_conv = BA_conv.sort_values(['conversationnr', 'created_at'])
BA_conv = BA_conv.reset_index()
klm_conv = klm_conv.reset_index()
klm_conv['user.id_str'] = klm_conv['user.id_str'].astype(str)
BA_conv['user.id_str'] = BA_conv['user.id_str'].astype(str)

C:\Users\20173845\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
#returns a orderedDict with the amount of conversations per length
def convlength(dataframe):
    dct= {}
    for i in range(len(dataframe)):
        if dataframe['conversationnr'][i] in dct:
            dct[(dataframe['conversationnr'][i])] += 1
        else:
            dct[(dataframe['conversationnr'][i])] = 1
    for i in list(dct.keys()):
        if dct[i] > 10 or dct[i] == 1:
            del dct[i]
    length= {}
    for i in range(len(dct)):
        if list(dct.values())[i] in length:
            length[list(dct.values())[i]] += 1
        else:
            length[list(dct.values())[i]] = 1
    
    sorted_x = sorted(length.items(), key=lambda kv: kv[0])
    sorted_dict = collections.OrderedDict(sorted_x)
    return sorted_dict

#visualisation of the dictionary made above
plt.bar(range(len(sorted_dict_klm)), list(sorted_dict_klm.values()))
plt.xticks(range(len(sorted_dict_klm)), list(sorted_dict_klm.keys()))
plt.xlabel('Conversation length')
plt.ylabel('Amount of conversations')
plt.title('Length of conversations klm', fontsize=16, weight='bold')
#plt.savefig('klm_conversations.png');

In [31]:
#just run it ^^
datetime_save = datetime.timedelta()
def function(entry):
    global datetime_save
    diff = entry - datetime_save
    datetime_save = entry
    return diff

In [36]:
#returns the dataframe with a new column reply_time
def replies(dataframe):
    datetime_save = datetime.timedelta()
    dataframe['reply_time'] = datetime.timedelta()
    dataframe['reply_time'] = np.array([function(entry) for entry in dataframe['created_at']])
    return dataframe

In [32]:
#give a dataframe and the user id of the airline
#it returns a dataframe with only replies from that airline, with the reply times and a column minutes
def reply_mean(dataframe, ID):
    dataframe['reply_time'] = datetime.timedelta()
    dataframe['reply_time'] = np.array([function(entry) for entry in dataframe['created_at']])
    airline_replies= dataframe[dataframe['user.id']== ID].set_index('index').reset_index()
    airline_reply = []
    for i in range(0,len(airline_replies)):
        if ((airline_replies['reply_time'][i] > e) and (airline_replies['reply_time'][i] <d)):
            airline_reply.append(airline_replies.loc[i])
    airline_reply = pd.DataFrame(airline_reply)
    
    airline_reply['minutes'] = airline_reply['reply_time'] / np.timedelta64(1, 'm')
    airline_reply_small = airline_reply.copy()
    airline_reply_small = airline_reply_small.reset_index()
    for i in range(len(airline_reply_small)):
        if airline_reply_small['minutes'][i]<0:
            airline_reply_small['minutes'][i]=airline_reply_small['minutes'][i]*-1
    max_klm=np.percentile(airline_reply['minutes'],90)
    min_klm=np.percentile(airline_reply['minutes'],10)
    airline_reply_small = airline_reply_small[airline_reply_small['minutes']<max_klm]
    airline_reply_small = airline_reply_small[airline_reply_small['minutes']>min_klm]
    airline_reply_small = airline_reply_small.drop('level_0',axis=1).reset_index()
    return airline_reply_small

datetime.timedelta(0)

In [34]:
#with this you can make new columns for which day the tweet was send, weekday can be changed to minutes, hours, days
dataframe['weekday']=dataframe['created_at'].dt.weekday

,index,Unnamed: 0,created_at,entities,favorite_count,filter_level,id,id_str,in_reply_to_screen_name,in_reply_to_status_id,...,in_reply_to_user_id_str,lang,quoted_status,quoted_status_id_str,retweet_count,text,user.id,user.id_str,conversationnr,reply_time
0,0,4847915,2017-02-22 20:28:04,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,8.345000e+17,8.345000e+17,KLM,NaN,...,5.637714e+07,en,NaN,NaN,0.0,@KLM I received a storm warning email re cance...,9.130000e+02,913.0,1.0,-27 days +10:44:17
1,1,4889485,2017-02-23 05:19:05,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,8.346337e+17,8.346337e+17,alba,8.345000e+17,...,9.130000e+02,en,NaN,NaN,0.0,"@alba Hello Eric, we are sorry for the late re...",5.637714e+07,56377143.0,1.0,0 days 08:51:01
2,3,1849214,2016-08-31 13:27:55,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,7.709764e+17,7.709764e+17,cvodb,7.709639e+17,...,9.650000e+02,en,NaN,NaN,0.0,"@cvodb Out with the old, in with the new!",5.637714e+07,56377143.0,2.0,-176 days +08:08:50
3,4,2697745,2016-10-06 12:22:23,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,7.840059e+17,7.840059e+17,KLM,NaN,...,5.637714e+07,nl,NaN,NaN,0.0,@KLM ik kreeg mail dat ik gratis een standaard...,9.650000e+02,965.0,2.0,35 days 22:54:28
4,5,2703991,2016-10-06 12:32:05,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,7.840083e+17,7.840083e+17,cvodb,7.840059e+17,...,9.650000e+02,nl,NaN,NaN,0.0,"@cvodb Hoi Caroline, zou je ons je boekingscod...",5.637714e+07,56377143.0,2.0,0 days 00:09:42
5,2,2707643,2016-10-06 13:47:14,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,7.840272e+17,7.840272e+17,KLM,7.840083e+17,...,5.637714e+07,nl,NaN,NaN,0.0,"@KLM Dat kan, het is 43OTLK",9.650000e+02,965.0,2.0,0 days 01:15:09
6,7,5234013,2017-03-15 13:14:22,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,8.420010e+17,8.420010e+17,KLM,NaN,...,5.637714e+07,nl,NaN,NaN,0.0,@KLM Hoi! Ik heb in januari een naamswijziging...,1.189000e+03,1189.0,3.0,159 days 23:27:08
7,6,5234487,2017-03-15 13:34:05,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,8.420060e+17,8.420060e+17,charrlesmusic,8.420010e+17,...,1.189000e+03,nl,NaN,NaN,0.0,@charrlesmusic Stuur ons een DM met je boeking...,5.637714e+07,56377143.0,3.0,0 days 00:19:43
8,10,4850261,2017-02-24 09:34:24,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,8.350603e+17,8.350603e+17,KLM,NaN,...,5.637714e+07,en,NaN,NaN,0.0,@KLM due to the security madness at schiphol m...,2.631000e+03,2631.0,4.0,-20 days +20:00:19
9,8,4885255,2017-02-24 17:26:10,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,8.351790e+17,8.351790e+17,thedaniel,8.350603e+17,...,2.631000e+03,en,NaN,NaN,0.0,"@thedaniel Hello, Daniel! Kindly send us your ...",5.637714e+07,56377143.0,4.0,0 days 07:51:46
10,9,4885258,2017-02-24 17:26:19,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,8.351791e+17,8.351791e+17,thedaniel,8.350603e+17,...,2.631000e+03,en,NaN,NaN,0.0,@thedaniel &lt;&lt; so we may look into your o...,5.637714e+07,56377143.0,4.0,0 days 00:00:09
11,11,3931548,2016-12-11 15:03:47,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,8.079641e+17,8.079641e+17,KLM,NaN,...,5.637714e+07,nl,NaN,NaN,0.0,@KLM kun je mij helpen met het volgende? https...,2.716000e+03,2716.0,5.0,-76 days +21:37:28
12,12,3931630,2016-12-11 15:09:46,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,8.079656e+17,8.079656e+17,SLAM,8.079641e+17,...,2.716000e+03,nl,NaN,NaN,0.0,@SLAM Hallo Stéphan. Vervelend om te lezen dat...,5.637714e+07,56377143.0,5.0,0 days 00:05:59
13,13,3931633,2016-12-11 15:10:05,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,8.079657e+17,8.079657e+17,SLAM,8.079641e+17,...,2.716000e+03,nl,NaN,NaN,0.0,@SLAM &gt;&gt; de volgende gegevens willen stu...,5.637714e+07,56377143.0,5.0,0 days 00:00:19
14,14,3931637,2016-12-11 15:10:19,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,8.079657e+17,8.079657e+17,SLAM,8.079641e+17,...,2.716000e+03,nl,NaN,NaN,0.0,@SLAM &gt;&gt; geboortedatum (dd/mm/jjjj); ger...,5.637714e+07,56377143.0,5.0,0 days 00:00:14
15,17,4490550,2017-02-03 07:59:23,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,8.274262e+17,8.274262e+17,NaN,NaN,...,NaN,en,NaN,NaN,0.0,"hello @klm, is there an issue with your login?...",2.737000e+03,2737.0,6.0,53 days 16:49:04
16,19,4490599,2017-02-03 08:03:22,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,8.274272e+17,8.274272e+17,jotbe,8.274262e+17,...,2.737000e+03,en,NaN,NaN,0.0,"@KLM now even the reset password doesn't work,...",2.737000e+03,2737.0,6.0,0 days 00:03:59
17,16,4490624,2017-02-03 08:04:45,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,8.274276e+17,8.274276e+17,jotbe,8.274272e+17,...,2.737000e+03,en,NaN,NaN,0.0,@KLM script- and adblockers and other security...,2.737000e+03,2737.0,6.0,0 days 00:01:23
18,15,4490659,2017-02-03 08:08:00,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,8.274284e+17,8.274284e+17,jotbe,8.274276e+17,...,2.737000e+03,en,NaN,NaN,0.0,@KLM requested another pwd reset and my acc se...,2.737000e+03,2737.0,6.0,0 days 00:03:15
19,18,4491380,2017-02-03 08:56:37,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,8.274406e+17,8.274406e+17,jotbe,8.274272e+17,...,2.737000e+03,en,NaN,NaN,0.0,@jotbe Allow us to help you reset and unblock...,5.637714e+07,56377143.0,6.0,0 days 00:48:37
20,20,4491383,2017-02-03 08:56:44,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,8.274407e+17,8.274407e+17,jotbe,8.274284e+17,...,2.737000e+03,en,NaN,NaN,0.0,@jotbe &lt;&lt; and Flying Blue number and sta...,5.637714e+07,56377143.0,6.0,0 days 00:00:07
21,24,16661,2016-05-30 13:17:24,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,7.372717e+17,7.372717e+17,KLM,7.372707e+17,...,5.637714e+07,es,NaN,NaN,0.0,@KLM merecido! :D,3.363000e+03,3363.0,7.0,-249 days +04:20:40
22,25,2349821,2016-09-20 21:44:04,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,7.783490e+17,7.783490e+17,NaN,NaN,...,NaN,pt,NaN,NaN,0.0,voaremos de @KLM de novo e soh consigo pensar ...,3.363000e+03,3363.0,7.0,113 days 08:26:40
23,23,2407053,2016-09-21 15:50:32,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,7.786224e+17,7.786224e+17,KLM,NaN,...,5.637714e+07,pt,NaN,NaN,0.0,"@klm amigos, reservei duas passagens ontem e e...",3.363000e+03,3363.0,7.0,0 days 18:06:28
24,22,2407089,2016-09-21 15:51:30,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,7.786227e+17,7.786227e+17,KLM,NaN,...,5.637714e+07,pt,NaN,NaN,0.0,@klm eh possivel mudar para boleto? pq ai cons...,3.363000e+03,3363.0,7.0,0 days 00:00:58
25,31,2412425,2016-09-21 16:42:58,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,7.786356e+17,7.786356e+17,andrechaos,7.786227e+17,...,3.363000e+03,pt,NaN,NaN,0.0,"@andrechaos Olá, Andre. Que bom que irá viajar...",5.637714e+07,56377143.0,7.0,0 days 00:51:28
26,26,2412439,2016-09-21 16:43:26,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,7.786358e+17,7.786358e+17,andrechaos,7.786227e+17,...,3.363000e+03,pt,NaN,NaN,0.0,@andrechaos &lt;&lt;através dos números contid...,5.637714e+07,56377143.0,7.0,0 days 00:00:28
27,38,2412526,2016-09-21 16:45:10,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,7.786362e+17,7.786362e+17,KLM,7.786358e+17,...,5.637714e+07,pt,NaN,NaN,0.0,@KLM ta! na verdade eu fiz uma nova reserva e ...,3.363000e+03,3363.0,7.0,0 days 00:01:44
28,29,2413042,2016-09-21 17:03:36,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,7.786408e+17,7.786408e+17,andrechaos,7.786362e+17,...,3.363000e+03,pt,NaN,NaN,0.0,"@andrechaos Exatamente, Andre.",5.637714e+07,56377143.0,7.0,0 days 00:18:26
29,33,2413478,2016-09-21 17:17:33,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,7.786443e+17,7.786443e+17,KLM,7.786408e+17,...,5.637714e+07,pt,NaN,NaN,0.0,"@KLM ótimo, então! valeu pela ajuda, amigos. o...",3.363000e+03,3363.0,7.0,0 days 00:13:57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182006,182060,5409339,2017-03-28 15:33:58,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,8.467472e+17,8.467472e+17,hnkmari,8.467461e+17,...,8.467452e+17,nl,NaN,NaN,0.0,@hnkmari We adviseren dit bericht te verwijder...,5.637714e+07,56377143.0,27901.0,2 days 05:24:10
182007,182058,5409461,2017-03-28 15:40:27,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,8.467488e+17,8.467488e+17,KLM,8.467472e+17,...,5.637714e+07,nl,NaN,NaN,0.0,@KLM mijn vraag staat geregistreerd onder numm...,8.467452e+17,8.467451980299305e+17,27901.0,0 days 00:06:29
182008,182059,5409603,2017-03-28 15:48:45,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,8.467509e+17,8.467509e+17,hnkmari,8.467488e+17,...,8.467452e+17,nl,NaN,NaN,0.0,@hnkmari Dit is nog een tweet. Je kan een DM s...,5.637714e+07,56377143.0,27901.0,0 days 00:08:18
182009,182064,5456481,2017-03-29 04:49:51,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,8.469475e+17,8.469475e+17,KLM,NaN,...,5.637714e+07,en,NaN,NaN,0.0,@KLM I have lost flight details for online che...,8.469401e+17,8.469400530079293e+17,27902.0,0 days 13:01:06
182010,182063,5456568,2017-03-29 05:01:02,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,8.469503e+17,8.469503e+17,AndyRich59,8.469475e+17,...,8.469401e+17,en,NaN,NaN,0.0,@AndyRich59 We would like to assist you check-...,5.637714e+07,56377143.0,27902.0,0 days 00:11:11
182011,182061,5456569,2017-03-29 05:01:10,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,8.469503e+17,8.469503e+17,AndyRich59,8.469475e+17,...,8.469401e+17,en,NaN,NaN,0.0,@AndyRich59 &lt;&lt; name and flight date via ...,5.637714e+07,56377143.0,27902.0,0 days 00:00:08
182012,182065,5456608,2017-03-29 05:04:32,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,8.469512e+17,8.469512e+17,KLM,8.469503e+17,...,5.637714e+07,en,NaN,NaN,0.0,@KLM It's OK - I found the details and checked...,8.469401e+17,8.469400530079293e+17,27902.0,0 days 00:03:22
182013,182062,5456969,2017-03-29 05:24:33,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,8.469562e+17,8.469562e+17,AndyRich59,8.469512e+17,...,8.469401e+17,en,NaN,NaN,0.0,"@AndyRich59 No worries, Andrew! Should you nee...",5.637714e+07,56377143.0,27902.0,0 days 00:20:01
182014,182070,5449035,2017-03-29 15:14:36,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,8.471047e+17,8.471047e+17,KLM,NaN,...,5.637714e+07,en,NaN,NaN,0.0,@KLM sister trapped in 6+ hr delayed Kl607 wit...,8.471034e+17,8.471033538510316e+17,27903.0,0 days 09:50:03
182015,182068,5453821,2017-03-29 15:50:48,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,8.471138e+17,8.471138e+17,KLM,NaN,...,5.637714e+07,en,NaN,NaN,0.0,@KLM flight KL607 stuck on the tarmac full of...,8.471034e+17,8.471033538510316e+17,27903.0,0 days 00:36:12
182016,182069,5454098,2017-03-29 16:05:53,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,8.471176e+17,8.471176e+17,Siltai2,8.471138e+17,...,8.471034e+17,en,NaN,NaN,0.0,"@Siltai2 Hello, Siltai! Flight KL607 is delaye...",5.637714e+07,56377143.0,27903.0,0 days 00:15:05
182017,182067,5454104,2017-03-29 16:06:14,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,8.471177e+17,8.471177e+17,Siltai2,8.471138e+17,...,8.471034e+17,en,NaN,NaN,0.0,@Siltai2 &lt;&lt; Let us know if we can be of ...,5.637714e+07,56377143.0,27903.0,0 days 00:00:21
182018,182066,5454173,2017-03-29 16:09:53,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,8.471186e+17,8.471186e+17,KLM,8.471176e+17,...,5.637714e+07,en,NaN,NaN,0.0,@KLM And took six hours to figure that out mea...,8.471034e+17,8.471033538510316e+17,27903.0,0 days 00:03:39
182019,173611,62542,2016-06-02 11:08:37,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,7.383264e+17,7.383264e+17,KLM,NaN,...,5.637714e+07,en,NaN,NaN,0.0,@KLM hello,NaN,nan,NaN,-301 days +18:58:44
182020,173614,62558,2016-06-02 11:10:06,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,7.383268e+17,7.383268e+17,KLM,7.383240e+17,...,5.637714e+07,en,NaN,NaN,0.0,@KLM @RU_Letteren,NaN,nan,NaN,0 days 00:01:29
182021,173598,75853,2016-06-02 12:58:56,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,7.383542e+17,7.383542e+17,KLM,NaN,...,5.637714e+07,en,NaN,NaN,0.0,@KLM,NaN,nan,NaN,0 days 01:48:50
182022,173602,75956,2016-06-02 13:03:08,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,7.383553e+17,7.383553e+17,KLM,7.383525e+17,...,5.637714e+07,en,NaN,NaN,0.0,@KLM,NaN,nan,NaN,0 days 00:04:12
182023,173606,91911,2016-06-02 15:08:14,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,7.383868e+17,7.383868e+17,KLM,7.383859e+17,...,5.637714e+07,en,NaN,NaN,0.0,@KLM thank you for remind me.,NaN,nan,NaN,0 days 02:05:06
182024,144122,1452412,2016-08-04 14:43:02,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,7.612108e+17,7.612108e+17,KLM,7.612076e+17,...,5.637714e+07,en,NaN,NaN,0.0,@KLM,NaN,nan,NaN,62 days 23:34:48
182025,150037,1499472,2016-08-08 16:55:42,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,7.626938e+17,7.626938e+17,NaN,NaN,...,NaN,en,NaN,NaN,0.0,Still no trace of luggage @klm,NaN,nan,NaN,4 days 02:12:40
182026,150039,1613454,2016-08-10 05:23:42,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,7.632444e+17,7.632444e+17,NaN,NaN,...,NaN,en,NaN,NaN,0.0,Hooray 🙌,NaN,nan,NaN,1 days 12:28:00
182027,85290,1971925,2016-09-04 12:42:29,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,7.724145e+17,7.724145e+17,KLM,7.724100e+17,...,5.637714e+07,it,NaN,NaN,0.0,@KLM,NaN,nan,NaN,25 days 07:18:47
182028,105768,1994462,2016-09-07 19:46:02,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,7.736083e+17,7.736083e+17,KLM,NaN,...,5.637714e+07,nl,NaN,NaN,0.0,@KLM wijziging vlucht,NaN,nan,NaN,3 days 07:03:33
182029,104357,2648825,2016-10-07 07:24:27,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,7.842933e+17,7.842933e+17,NaN,NaN,...,NaN,en,NaN,NaN,0.0,Happy Birthday 🎂 @KLM - world's oldest airline...,NaN,nan,NaN,29 days 11:38:25
182030,58598,3111323,2016-10-27 11:58:22,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,7.916100e+17,7.916100e+17,NaN,NaN,...,NaN,en,NaN,NaN,0.0,Flying for Goteborg and delayed. Going to miss...,NaN,nan,NaN,20 days 04:33:55
182031,131603,4713037,2017-02-15 15:32:26,"{ ""hashtags"" : [ { ""text"" : ""THEDELLS"", ""indic...",0.0,low,8.318889e+17,8.318889e+17,NaN,NaN,...,NaN,en,NaN,NaN,0.0,OH WHAT A NIGHT! #THEDELLS,NaN,nan,NaN,111 days 03:34:04
182032,131591,4726532,2017-02-15 18:31:45,"{ ""hashtags"" : [ { ""text"" : ""THEDELLS"", ""indic...",0.0,low,8.319340e+17,8.319340e+17,NaN,NaN,...,NaN,en,NaN,NaN,0.0,RT @steventeaster: OH WHAT A NIGHT! #THEDELLS,NaN,nan,NaN,0 days 02:59:19
182033,83354,4899359,2017-02-23 09:14:54,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,8.346930e+17,8.346930e+17,NaN,NaN,...,NaN,en,NaN,NaN,0.0,Me: Where's my bag?,NaN,nan,NaN,7 days 14:43:09
182034,96075,5077316,2017-03-09 15:12:50,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,8.398565e+17,8.398565e+17,KLM,NaN,...,5.637714e+07,nl,NaN,NaN,0.0,@klm mijn boeking ref is 4MQBPK,NaN,nan,NaN,14 days 05:57:56
182035,181563,5308471,2017-03-18 22:07:06,"{ ""hashtags"" : [ ], ""user_mentions"" : [ { ""sc...",0.0,low,8.432223e+17,8.432223e+17,KLM,NaN,...,5.637714e+07,en,NaN,NaN,0.0,@KLM I would love to go to Amsterdam for the f...,NaN,nan,NaN,9 days 06:54:16